html {
    font-family: sans-serif;
    background-color: navy;

}
h1 {
    padding: 15px;
    border-style: double;
    border-width: 10px;
}

body {
    border-radius: 25px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
    background-image: linear-gradient(to bottom right, red, yellow);
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}
